language: python
sudo: false
python:
- '2.7'
addons:
  apt:
    packages:
    - gcc-arm-none-eabi
    - libnewlib-arm-none-eabi

install:
- pip install --upgrade -r build_requirements.txt
script:
- tox -r
deploy:
  skip_cleanup: true
  provider: script
  script: python scripts/release.py $TRAVIS_TAG
  on:
    branch: master
    tags: true
notifications:
  on_success: always
  on_failure: always
  email: false
  slack:
    secure: qhlI6ILuy40WHTkLoNipyfk9wyDUFUh4u1RiMuVUQi4K+kfU0U5xG08f0N2nSzbkevGMGRtBMRLnQaqqcIhR+xc0uH+1rlV8fXN/6RXKDWyhaBhNCvhqxRIzvI1E983NfW2YBIIOwQnRT2YFHE26og+9mp5OBhlY8E88c4rdfwR7hUHByLKC5213Zw8dZhdg1KfIWZ0P/7HVPeEXwuLCLmyr1sR2TVyM0MoIhvqLFPbDkbFqbWTfZWCkoUYvmxDEGgVb8yPdWSnaxBKgWshR3CAw9W1+YLL57qBL5jHO6DSeT1PxEpJasLhFtO3PoGRpZstFKffUyjGIO/650DlKQfv+sfmt6LARK3gbcK1dVFhJAM7vIDHEHSSEin6QtHsrNsWKmYslHwJReNy5x7hci8347Nvs7ap3hZyiwqPPT0vYKyKNAOC5Scd+7wVai06iE7NiM47LMXVQNcLSLTFCwF+BDda2fdsBHKOy3syKjSHnMrlywg1B9KVSldUa/cWmygFW/Dz2lrYv9PmgApdR26dEHuloEuZ2xID33xKIT5O5f2Cpbc3uF8YYJcCuhccCLX+3cfLlTjdcyy9Hp1cNEG3gpA0S/Nr1HElEDH/b4B7uESJJsC+cZE1qqtXBZNZMNsU5EKXc60aBn7ZgTQVbWu0YwOrZD5VBLKh80X4MhoQ=
